.DS_Store
.idea/
.tox/
.venv/
.coverage
.coverage.*
.mypy_cache/
.pytest_cache/
.ruff_cache/
artifacts/*
!artifacts/.gitkeep
site/

**/__pycache__/
**/.pytest_cache/
**/.ruff_cache/
**/.mypy_cache/
**/.pytype/
**/.hypothesis/
**/.benchmarks/
**/.tox/
**/.venv/
**/site/
**/*.pyc
**/*.pyo
